// Specific CSS for your home-page
header{
  // background-image: url('https://images.pexels.com/photos/8963453/pexels-photo-8963453.jpeg');
  // background-image: url('https://images.unsplash.com/photo-1512923680040-ae76121db32b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-image: url('bgd_principal.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 50px;

  h1{
    font-size: 64px;
    color: #fff;
    padding-bottom: 12px;
  }
  h2{
    padding-bottom: 12px;
    color: #fff;
  }
}
