.bgd-show{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 87vh;
  width: 60%;
}

.ctr-mochi{
  display: flex;
}

@media (max-width: 760px) {
  .bgd-show{
    display: none;
  }
  .card-mochi{
    width: 100%;
  }
}
