.bgd-show{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 87vh;
  width: 60%;
}

.ctr-mochi{
  display: flex;
}

// space btw item description and ordering
.mt-70{
  margin-top: 70px;
}

// space between each text
.mt-21{
  margin-top: 21px;
}

// display none img when smaller screen
@media (max-width: 760px) {
  .bgd-show{
    display: none;
  }
  .card-mochi{
    width: 100%;
  }
}
