.btn{
  border-radius: 12px;
  text-align: center;
  border: none;
  font-family: 'JetBrains Mono', monospace;
}

.white-little{
  background-color: #fff;
  font-size: 16px;
  color: #fcd5ce;
  padding: 4px 8px;
}

.white-little:hover{
  color: #fff;
  border: 2px solid #fff;
  padding: 2px 8px;
}

.purple-big{
  background-color: #afb3f7;
  width: fit-content;
  display: inline-block;
  padding: 25px 35px;
  font-size: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 130px;
}

.purple-big:hover{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 23px 35px
}
