.btn{
  border-radius: 12px;
  text-align: center;
  border: none;
  font-family: 'JetBrains Mono', monospace;
}

.pink-little{
  background-color: #fff;
  font-size: 16px;
  padding: 4px 8px;
  color: $pink;
}

.pink-little:hover{
  color: #fff;
  border: 2px solid #fff;
  padding: 2px 8px;
}

// blue font for show
.blue-medium{
  background-color: #fff;
  font-size: 16px;
  color: $blue;
  padding: 12px 21px;
}

.blue-medium:hover{
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 19px;
}

.purple-big{
  background-color: #afb3f7;
  width: fit-content;
  display: inline-block;
  padding: 25px 35px;
  font-size: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 130px;
}

.purple-big:hover{
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 23px 33px;
}

.purple-big:focus{
  background-color: #afb3f7;
  width: fit-content;
  display: inline-block;
  padding: 25px 35px;
  font-size: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 130px;
}

.purple-little{
  background-color: #afb3f7;
  width: fit-content;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}

.purple-little:hover{
  background-color: transparent;
  color: #afb3f7;
  border: 2px solid #afb3f7;
  padding: 8px 13px
}

.purple-medium{
  background-color: #afb3f7;
  width: fit-content;
  display: inline-block;
  padding: 25px 35px;
  font-size: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.purple-medium:hover{
  background-color: transparent;
  color: $purple;
  border: 2px solid $purple;
  padding: 23px 33px
}
