
.card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-wrapper{
  width: 300px;
  height: 200px;
  margin: 25px 0;
}

.card-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front img, .card-back{
  border-radius: 12px;
}
.card-back{
  // width: 300px;
  // height: 200px;
  border: 1px solid black;
  text-align: center;
  padding: 25px 0;
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-wrapper .card-wrap:hover {
  transform: rotateY(180deg);
}

.card-back .type{
  display: flex;
  justify-content: space-around;
}
