.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.h-150{
  height: 80px;
}

// navbar side
.side{
  width: 175px;
  position: sticky;
  top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  h3{
    font-size: 18px;
    text-transform: uppercase;
    margin: 21px 0px;
    text-align: center;
  }
}

.ctr{
  display: flex;
}

// navbar top
.nav-top{
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  margin: 24px;
  margin-bottom: 0;
}

.nav-right{
  font-size: 24px;
  i{
    padding-top: 15px;
  }
  i:hover{
    color: #afb3f7;
  }
  .fa-user{
    margin-left: 24px;
    margin-right: 50px;
  }
}

.nav-left{
  margin-left: 24px;
}
