// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body{
  background-color: #fff;
  h1, h3, h6{
    font-family: 'JetBrains Mono', monospace;
  }
  h2, h5, p{
    font-family: 'Arima Madurai', cursive;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .align-center{
    text-align: center;
  }
}
